<widget-modal widget-modal-title="Select Your Dashboard">
 	<form name="cdf" class="form"  novalidate>
 	
 		  <div class="col-md-4"></div> 
           
            
            <Button class="btn btn-lg btn-default btn-wide" ng-click="site.indi(1)">
                        Individual Metrics
            </Button>
            <br><br><br><div class="col-md-4"></div>
            
             <Button class="btn btn-lg btn-default btn-wide" ng-click="site.team()" disabled>
                        Team Metrics
            </Button>
           
          
 	</form>
 	      	
 </widget-modal>
