<div id="site" class="main-content">
    <ng-include src="ctrl.templateUrl"></ng-include>
    
    <!--     <div class="col-md-8 col-md-push-2">
        <div class="widget-modal r">
            <div class="widget-modal-heading">
                Choose Your metrics
            </div>
            <div class="col-md-4"></div> 
            <Button class="btn btn-lg btn-default btn-wide" ng-click="ctrl.selectOpt()">
                        GitHub Metrics
            </Button>
           <br><br><br>
            <div class="col-md-4"></div>
            <Button type="" class="btn btn-lg btn-default btn-wide">
                        Place holder for Jenkins
            </Button><br><br><br>
            <div class="col-md-4"></div>
            <Button type="" class="btn btn-lg btn-default btn-wide">
                        Place holder for CF
            </Button>
           
    </div>
</div> -->

<br>
<br>
  
  <div class="container">
  <div class="well well-sm text-center texth3Color" style="color:#596876;"><h3>Choose Your Metrics</h3></div>

  <div class="row">
    <div class="col-sm-4">
    <div class="panel panel-success">
    <div class="panel-heading"><h4 style="color:#596876;">GitHub Metrics</h4></div>
    <div class="panel-body">
    <Button class="btn btn-lg btn-default btn-wide" ng-click="ctrl.selectOpt()">
                        GitHub Metrics
            </Button>
    </div>
  </div>
    </div>
    <div class="col-sm-4">
    <div class="panel panel-success">
    <div class="panel-heading"><h4 style="color:#596876;">Place holder for Jenkins</h4></div>
    <div class="panel-body">
     <Button type="" class="btn btn-lg btn-default btn-wide" disabled>
                        Place holder for Jenkins
            </Button>
    </div>
  </div>
    </div>
    <div class="col-sm-4">
    <div class="panel panel-success">
    <div class="panel-heading"><h4 style="color:#596876;">Place holder for CF</h4></div>
    <div class="panel-body">
     <Button type="" class="btn btn-lg btn-default btn-wide" disabled>
                        Place holder for CF
            </Button></div>
  </div>
    </div>
  </div>
</div>

