<div id="auth">
	
	
	<div class="col-lg-8 col-md-push-4">
	
		<h1> Welcome to AA Enterprise </h1>
		 		
		 		
		 	<h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Dev Ops Dashboard </h2> 
		 	
		 		<br>
		 		<br>
		 		<br>
		 		<br>
		 		<br>
		 		<br>
		 		<br>
		 		<br>
		 		<br>
		 	
		 		
		 		
		 		
		 	    <div class="col-lg-8 col-md-push-1">

                    <div class="btn btn-primary" ng-click="login.loginPage()">
                        
                       Click Here to continue
                    </div>

                </div>
	</div>
   
   
   
</div>


